


/***********************************************************BAŞLIK***************************************************/

.başlık {
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;

}

/*******************************************************GİRİŞ PARAGRAFI****************************************************************/

.giriş {
    text-align: center;
    font-size: 18px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style-type:none;
    text-decoration: none;
    
}

/************************************************************KUTU***************************************************************/
/******* 1.KUTU *********/ 
.kutu {
      width: 100px;
      height:100px;
      border: 3px solid #033540;
      background-color:#63898c;
      border-radius: 20px;
      margin: auto;
      
  }
/****** 2. KUTU *****/
.kutu2 {
    width: 100px;
      height:100px;
      border: 3px solid #033540;
      background-color:#63898c;
      border-radius: 20px;
      margin-left: 440px;
      margin-top: -104px

}
/***** 3.KUTU*******/
.kutu3 {
      width: 100px;
      height:100px;
      border: 3px solid #033540;
      background-color:#63898c;
      border-radius: 20px;
      margin-left: 830px;
      margin-top: -104px;
}
/************************************************LİSTELER************************************************/
